
body {
    margin: 0;
    padding: 0;
  }
  
  .navbarof {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
	  margin: 0;
    width: 100%;
    z-index: 100;
    background-color: #5b373d;
    height: 90px;
  }
  
  .navbarof img {
    width: 70px;
    height: auto;
    margin-right: auto; /* Empuja la imagen hacia la izquierda */
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .navbarof-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbarof-links a {
    color: #fff;
    text-decoration: none;
    padding: 35px;
    
    display: inline-block;
  }
  .navbarof a {
    color: #fff;
    text-decoration: none;
    padding: 35px;
    display: inline-block;
    height: 90%;
	 
  }


  .content {
    margin-top: 60px;
    padding: 0px;
  }
  
  /* Estilos para las secciones */
  .section {
    height: 500px; /* Altura de las secciones */
  }
  
  #inicio {
    margin: 90px 0px 0px 0px;
    height: 100%;
    justify-content: center;
    background-color: peru;
  }
  
  /* ------------------------- */
  /* Acerca */
  /* ------------------------- */

  #acerca {
    height: 150%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .contenedor_texto {
    display: flex;
    flex-wrap: wrap;
    width: 1330px;
    height: 100%;
    background-color: #d1c1c4;
  }

.caja_titulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(imagenmachupicchu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.productos {
    background-color: #d1c1c4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
}

  .titulo {
    font-size: 40px;
    color: maroon;
    font-family: 'Great Vibes', cursiva;
    font-weight: 400;

    
  }

  .linea {
    display: flex;
    background-color: rgb(228, 222, 222);
    height: 4px;
    width: 100%;
    margin: 50px 0px 0px 0px;

  }

  .texto_linea {
    background-color: white;
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -45px 0px 0px 0px;
  }

.contenedormision {
  justify-content: center;
  width: 40%;
  margin: 0px 20px 22px 0px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: .8;
  color: azure;
  font-size: 40px;
  align-content: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.contenedormision h3 {
  font-size: 20px;
  margin-top: 30px;
  align-content: center;
  justify-content: center;
}

.contenedorvision {
  justify-content: center;
  width: 40%;
  margin: 0px 0px 22px 20px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: .8;
  color: azure;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.contenedorvision h3 {
  font-size: 20px;
  margin-top: 30px;
  align-content: center;
  justify-content: center;
}

  .texto_linea2 {
    background-color: whitesmoke;
    height: 80px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -45px 0px 0px 0px;
    
  }

  .subtitulo {
    width: 100%;
    font-size: 20px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;

  }

  .productos .titulo {
    font-size: 40px;
    color: maroon;
    font-family: 'Great vibes', serif;
    font-weight: 400;
    margin-bottom: 20px;
  
  }

  .productos .titulo span {
    background-color: whitesmoke;
  }

  .productos .titulo::after {
    width: 100%;
    background: wheat;
  }

  .productos .subtitulo {
    width: 100%;
    font-size: 20px;
    color: #5b373d;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }

  .producto_imagen1 {
    background-color: beige;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    height: 350px;
  }

  .producto_imagen1 img {
    width: 100%;
    height: 100%;
  }

  .producto_imagen2 {
    background-color: beige;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0px 5px 0px 0px;
    height: 350px;

  }

  .producto_imagen2 img {
    width: 100%;
    height: 100%;
  }
 
  .producto_imagen3 {
    background-color: beige;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 5px;
    height: 350px;
  }

  .producto_imagen3 img {
    width: 100%;
    height: 100%;
  }

  .producto_imagen4 {
    background-color: beige;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 10px;
    height: 350px;

  }

  .producto_imagen4 img {
    width: 100%;
    height: 100%;
  }

  
  /* ------------------------- */
  /* Contacto */
  /* ------------------------- */
  #contacto {
    padding: 0px 0px 0px 0px;
    text-align: center;
    display:flex;
    justify-content: center;
    height: 100%;
    margin: 0px 0px 0px 0px;
    
  }
#contenedorcontacto
{
  background-color: #d1c1c4;
  display: flex;
  justify-content: center;
  width: 1330px;
  flex-wrap: wrap;
}

  #contacto h1{
    color:wheat;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursiva;
    
    
    

  }
  #contacto p {
    font-size: 16px;
    margin-bottom: 5px;
    color:saddlebrown;
    
    
  }
  #contacto a {
    color: saddlebrown;
    text-decoration: none;
  }
  #contacto  a:hover {
    text-decoration: underline;
  }
  #contenedorimg{
    width: 40%;
    display:flex;
 

  }
  
  #contacto img {
    display: block;
    margin:auto;
    width: 50%;
    padding-bottom: 20px;



  }
  #contactotexto{
  
    width: 100%;
    
    height: 205px;
    
  }
  
  a {
    color: lightseagreen;
    cursor: pointer;
    text-decoration: line-through;
   
    }
    
/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


    a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d1c1c4;
      }
      a:visited {
       color: #d1c1c4;
      }
      a:hover {
        background-color: dimgrey;
        color: white;
        transition-property: color, background-color;
        transition-duration: 300ms, 400ms;
        transition-timing-function: ease-in, ease-out;
      }
      a:active {
       background-color: rgb(223, 63, 63);
      }
      footer {
        position: relative;
        bottom: 0;
        left: 0;
        background-color: #5b373d;
        color: #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-icons {
        display: flex;
        justify-content: flex-end;
      }
      
      .footer-icons a {
        color: #333;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
      
      .footer-icons a:hover {
        background-color: #333;
      }
      
      .footer-icons a i {
        color: #fffafa;
      }
      
      .footer-text {
        margin-top: 5px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .h5{
        font-family: 'Arimo', sans-serif;
      }