.contenedor1 {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.contenedor2 {
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.contenedor2 img {
    width: 20%;
    width: 20%;
    display: block;
    position: relative;
    top: -40px;

}


.foto {
    background-color: #CF4444;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre {
    background-color: white;
    width: 550px;
    color: #CF4444;
    box-shadow: -4px 7px 15px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2)
}

.datosbajolafoto {
    background-color: #CF4444;
    width: 260px;
    text-align: justify;
    color: white;
}

.datosgenerales {
    background-color: white;
    width: 550px;
    box-shadow: -4px 7px 15px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2)

}
.foto img {
    width: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px aqua solid;
}
#Gmailicon {
    width: 12%;
    width: 12%;
    display: block;
    position: relative;
    top: -107px;
    padding-left: 11px;
}
#Behance {
    width: 14%;
    width: 14%;
    display: block;
    position: relative;
    top: -42px;
    padding-left: 9px;

}

#Twittericon {
    width: 12%;
    width: 12%;
    display: block;
    position: relative;
    top: -167px;
    padding-left: 13px;

}
#Facebookicon {
    width: 20%;
    width: 20%;
    display: block;
    position: relative;
    top: -245px;
    padding-left: 3px;
}
hr {
    background-color: white;
    height: 5px;
    width: 230px;
    border: none;
}
#hrdatosgenerales {
    background-color: #CF4444;
    height: 5px;
    width: 500px;
}

#hrcertificados {
    background-color: #CF4444;
    width: 500px;
    height: 5px;
}
ul {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
}
.main-container {
    width: 50%;
    padding-left: 24px;
    background-color: yellow;
}

.skills {
    width: 100%;
    max-width: 500px;
    padding: 0 23px;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 17px 0;
    font-family: 'Montserrat', sans-serif;
}

.skill-bar {
    height: 18px;
    background-color: #CF4444;
    border-radius: 3px;
}

.skill-per {
    height: 18px;
    background-color: #F29999;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.8s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 10px;
    background: #CF4444;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    top: -40px;
    color: #F29999;
    right: 0;
    transform: translate(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #CF4444;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;         

}